body {
    background-color: black;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}


.card {

    background-color: black;
}



.fa-avianex {
    color: aqua;
    text-align: center;

}

.fa-solid {
    color: aqua;
    text-align: center;
}

.pe {
    color: white;
    text-align: center;

}

.pe1 {
    color: white;

}

#tarjetas2 {
    margin: 10px 20px;
}

.foo {
    color:white;
    width: 150px;
    height: 50px;
}

.card2{
 background-color: aqua;   
}

.fo{
    background-color: aqua;
}

.f1{
    display: flex;
    justify-content: end;
    margin: 0px 50px;
}
.btn{
    background-color: aqua;
}

.navbar{
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}